.our-mission {
    background-color: #0f8442;
    margin: 100px 100px; 
    padding: 100px;
    color: white; 
    text-align: center; 
    
  }
  
  .our-mission h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: yellow;
  }
  
  .our-mission p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .our-mission button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
  }
  
  .our-mission button:hover {
    background-color: #0d6b37; 
    color: white;
  }
  
  @media (max-width:1000px) {
    .our-mission {
      padding: 0;
      margin: 0px 0px; 
     
      
    }
    
  }