.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-image {
  width: 104vw;
  height: 600px;
  border-radius: 8px;

  transition: opacity 0.5s ease-in-out;
}


.slider-button-1,
.slider-button-2 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.slider-button-1 {
  position: absolute;
  left: 50px;
}
.slider-button-2 {
  position: absolute;
  right: 50px;
}

nav ul {
  position: absolute;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-weight: 800;
  font-size: 1.5rem;
  color: yellow;
  margin: 0 100px;
  padding: 0;
}
nav ul li {
  margin-top: 50px;
}

nav ul:hover {
  color: white;
}

nav ul li:first-child {
  margin-right: auto;
}

.logo-img {
  height: 100px;
  width: 300px;
  object-fit: contain;
}
.nav-2 {
  display: none;
}
.main-container {
  display: flex;
}
.mobile-nav {
  background-color: #212121;
  color: white;
  text-transform: capitalize;
  width: 200px;
  min-width: fit-content;
  padding: 10px;
}

.mobile-nav ul {
  padding: 20px;
}
.mobile-nav li {
  list-style-type: none;
  padding-top: 10px;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 600px) {
  .nav-1 {
    display: none;
  }
  .nav-2 {
    display: block;
  }
  .nav-2 ul {
    display: flex;
    background-color: #0f8442;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    padding: 10px;
  }
  .logo-img {
    width: 150px;
    height: 60px;
  }
  nav ul li:first-child {
    margin: 0;
  }
  nav ul li {
    margin: 0;
  }
  .ham {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 2px solid yellow;
    border-radius: 6px;
  }
}
